*
  box-sizing: border-box

html
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  font-size: 18px
  height: 100%
  margin: 0
  overflow: hidden
  user-select: none

progress.seek
  display: block
