*
  box-sizing: border-box

html
  background-color: #1B1422
  color: #DEEED6
  height: 100%

body
  cursor: default
  height: 100%
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  font-size: 18px
  margin: 0
  overflow: hidden

h1, h2
  margin-top: 0
  margin-bottom: 4px

h1
  margin-left: 7px

h2
  font-size: 100%
  margin-bottom: 0.25em

label
  display: block

  &.inline
    display: inline-block
    margin-right: 1em

  >h2
    display: inline-block
    font-size: 100%
    margin-right: 0.5em
    margin-left: 0.5em

.no-select
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

.player
  display: flex
  justify-content: flex-start
  flex-direction: column
  height: 100%

  >.meta
    height: 44px
    overflow: hidden

    &.expanded
      height: auto
      overflow: visible

.display
  display: flex
  flex: 1
  position: relative

  >.time
    position: absolute
    top: 0
    left: 8px
    font-weight: bold

  >.viz
    flex: 1
    max-width: 50%
    > canvas
      height: 100%
      width: 100%

  >.playlist
    max-width: 50%
    overflow: auto
    flex: 1

    >.song
      white-space: nowrap
      overflow: hidden

      &.active
        background-color: #6DA830

  @media (max-width: 720px)
    flex-direction: column

    >.viz, >.playlist
      max-height: 50%
      max-width: none

.options
  position: absolute
  top: 0
  right: 0
  padding: 4px
  cursor: pointer
  font-size: 32px

select, input.volume
  cursor: pointer

input.volume
  height: 14px

progress.seek
  cursor: pointer
  display: block
  width: 100%
  height: 2em

actions
  display: flex
  >button
    flex: 1
    font-size: 200%
    height: 2em
